.mapboxgl-popup-content {
    background: #06376A !important;
    border-radius: 15px !important;
    color: white;
}

.mapboxgl-popup-content-green {
    background: green !important;
    border-radius: 15px !important;
    color: white;
}

.mapboxgl-popup-content-orange {
    background: orange !important;
    border-radius: 15px !important;
    color: white;
}

.mapboxgl-popup-content-red {
    background: red !important;
    border-radius: 15px !important;
    color: white;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    align-self: center;
    border-top: none;
    border-bottom-color: #06376A !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #06376A !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    align-self: center;
    border-right: none;
    border-left-color: #06376A !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    align-self: center;
    border-left: none;
    border-right-color: #06376A !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    align-self: flex-end;
    border-top: none;
    border-right: none;
    border-bottom-color: #06376A !important;
    transform: rotate(270deg);
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    align-self: flex-start;
    border-top: none;
    border-left: none;
    border-bottom-color: #06376A !important;
    transform: rotate(90deg);
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    align-self: flex-start;
    border-bottom: none;
    border-left: none;
    border-top-color: #06376A !important;
    transform: rotate(270deg);
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    align-self: flex-end;
    border-bottom: none;
    border-right: none;
    border-top-color: #06376A !important;
    transform: rotate(90deg);
}