div.main {
    width: 100%;
    overflow: hidden;
    background-color: #2F5168;
    margin: auto;
    height: auto;
    border: 2px solid transparent;
    padding: 0.3em 0;
    font-size: 1.5em;
    color: #E4F6F8;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0vh
}

div.slide-right p {
    -moz-animation: 10s slide-right;
    -webkit-animation: 10s slide-right;
    -o-animation: 10s slide-right;
    animation: 10s slide-right;
    margin: 0;
}

div.slide-left p {
    -moz-animation: 10s slide-left;
    -webkit-animation: 10s slide-left;
    -o-animation: 10s slide-left;
    animation: 10s slide-left;
    margin: 0;
}

@-webkit-keyframes slide-right {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-moz-keyframes slide-right {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-o-keyframes slide-right {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slide-right {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-webkit-keyframes slide-left {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: -100%;
        width: 300%;
    }
}

@-moz-keyframes slide-left {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: -100%;
        width: 300%;
    }
}

@-o-keyframes slide-left {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: -100%;
        width: 300%;
    }
}

@keyframes slide-left {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: -100%;
        width: 300%;
    }
}